<strong>Olá, {{ deliverymanName }}</strong>
<p>Infelizmente sua entrega foi cancelada, confira os detalhes abaixo:</p>
<p>
  <strong>ID da entrega: </strong> {{ deliveryId }} <br />
  <strong>Problema que gerou o cancelamento: </strong> {{ problemDescription }} <br />
</p>
